{% extends "period/base.html" %}
{% block heading %}定期定額付款測試{% endblock %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <p {% if message.tags %} class={{message.tags}} {% endif %}>{{message}}</p>
  {% endfor %}
{% endif %}

<form id="pay2go" method=post action="https://capi.pay2go.com/API/PeriodAPI">
<input type=hidden name="MerchantID" value="11573000" >
<input type=hidden name="RespondType" value="String" >
<input type=hidden id="CheckValue" name="CheckValue" value="" >
<input type=hidden id="TimeStamp" name="TimeStamp" value="{% now "U" %}" >
<input type=hidden name="Version" value="1.0" >
<input type=hidden name="MerchantOrderNo" value="{% now "YmdHis" %}" >
<p>產品名稱<input name="ProdDesc" value="Test Prod" ></p>
<p>每期金額<input name="PeriodAmt" value="1000" ></p>
<input type=hidden name="PeriodAmtMode" value="Period" >
<input type=hidden name="PeriodType" value="M" >
<input type=hidden name="PeriodPoint" value="01" >
<input type=hidden name="PeriodStartType" value="2" >
<input type=hidden name="PeriodTimes" value="2" >
<input type=hidden name="ReturnURL" value="{% url 'period:receive' %}" >




</form>
<p><button id=submit1>Submit</button></p>

<script src=https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js></script>
<script>
$(document).ready(function() {

  $(document).on('click', '#submit1', function(e) {
	    var result = $('#pay2go').find("input[name='MerchantID'],input[name='MerchantOrderNo'],input[name='PeriodAmt'],input[name='PeriodType'],input[name='TimeStamp']");    
	    result = result.sort(comparer('name'));
	    
	    var checkValue = '';
	    for (var i=0; i<result.length; i++) {
	    	checkValue += result[i].name + '=' + result[i].value;
	      if (i!=result.length-1) {
	    	  checkValue += '&';
	      }
	    } 
	    
    $.post("{% url 'period:checkValue' %}", {'checkValue': checkValue,'timeStamp':'',csrfmiddlewaretoken:'{{csrf_token}}'}, function(checkValue) {
        $('#CheckValue').attr('value', checkValue);        
        $('#pay2go').submit();
        
    });
  });

  function comparer(index) {
    return function(a, b) {
      return a[index].localeCompare(b[index]);
    };
  }

});
</script>

{% endblock %}