{% extends "mpg/base.html" %}
{% block heading %}MPG付款測試{% endblock %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <p {% if message.tags %} class={{message.tags}} {% endif %}>{{message}}</p>
  {% endfor %}
{% endif %}
{% now "U" %}

<form id="pay2go" method=post action="https://capi.pay2go.com/MPG/mpg_gateway">
<input  name="MerchantID" value="123456" >
<input  name="RespondType" value="String" >
<input id="CheckValue" name="CheckValue" value="" >
<input id="TimeStamp" name="TimeStamp" value="" >
<input  name="Version" value="1.1" >
<input  name="MerchantOrderNo" value="20140901001" >
<input  name="Amt" value="200" >
<input  name="ItemDesc" value="Test Prod" >
<input  name="Email" value="s10214607@gm.cyut.edu.tw" >
<input  name="LoginType" value="0" >
<input  name="ReturnURL" value="127.0.0.1:8000/" >




</form>
<p><button id=submit1>Submit</button></p>

<script src=https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js></script>
<script>
$(document).ready(function() {

  $(document).on('click', '#submit1', function(e) {
	    var result = $('#pay2go').find("input[name='Amt'],input[name='MerchantID'],input[name='MerchantOrderNo']");    
	    result = result.sort(comparer('name'));
	    
	    var checkValue = '';
	    for (var i=0; i<result.length; i++) {
	    	checkValue += result[i].name + '=' + result[i].value;
	      if (i!=result.length-1) {
	    	  checkValue += '&';
	      }
	    } 
	    
    $.post("{% url 'mpg:checkValue' %}", {'checkValue': checkValue,csrfmiddlewaretoken:'{{csrf_token}}'}, function(data) {
        $('#CheckValue').attr('value', data);        
        $('#pay2go').submit();
        
    });
  });

  function comparer(index) {
    return function(a, b) {
      return a[index].localeCompare(b[index]);
    };
  }

});
</script>

{% endblock %}